.main{
    background: rgba(233, 230, 230, 0.589);
}
#cloud{
    font-size: 7rem;
}
.weather-main{
    display: none;
}
.invalid{
    margin-left: 4rem;
    color: red;
    display: none;
}
#city-name:focus{
    outline: none;
}